* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	font-family: Montserrat, sans-serif;
	background-color: #7569f6;
}
.wrapper {
	margin: 0 auto;
	max-width: 1200px;
}
.box {
	width: 600px;
}
.icons {
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
}
.icons .player1,
.icons .player2 {
	font-size: 60px;
	margin-bottom: 80px;
}
.score {
	margin-top: 20px;
	font-size: 40px;
}
.buttons,
.score {
	text-align: center;
}
.buttons {
	margin-top: 60px;
	display: flex;
	justify-content: space-around;
}
.buttons button {
	padding: 15px 40px;
	font-weight: 700;
	font-size: 22px;
	cursor: pointer;
}
.score {
	padding: 20px 30px;
	font-weight: 700;
	color: #000;
}
